# Importing using path

In [1]:
import pandas as pd
df=pd.read_csv(r'C:\Users\h\Documents\GitHub\py\pandas\2_dataframe_basics\weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Using a dictionary

In [2]:
import pandas as pd
weather_data={
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df=pd.DataFrame(weather_data)
df                                   #Call Only'df' for printing the whole table
df.head()                            #Call 'df.head()' for printing 1st few lines of the table

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [3]:
df.shape                         #Call 'df.shape' to get the shape of the table

(6, 4)

In [4]:
rows, columns=df.shape           #Here is we can get the number of both the rows and columns of a table individually

In [5]:
print(rows)                      #To get the number of rows in that table

6

In [6]:
print(columns)                   #To get the number of columns in that table

4

In [7]:
df.head(2)                       #Enter the number between the 'df.head()' to get the exact number of lines you want to print from the top pf the table.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [8]:
df.tail()                        #Call 'df.tail()' to print the last few items of the table

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.tail(3)                       #Enter the number between the 'df.tail()' to get the exact number of lines you want to print from the bottom table.

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df[1:4]                         #To print a range of lines from anywhere on the list

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [11]:
df.columns                      #To print the columns of the table

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
df.day                          #To print a individual column: call "df.'Column Name'"

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
df['event']                    #You can also use these method to print a individual column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [14]:
type(df.event)                #To get the type of a column

pandas.core.series.Series

In [15]:
df[['day','temperature','event']]    #To print the exact columns you want from a table; calldf[["Column names in string","You can as many column as you want by this way"]]

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [16]:
df['temperature'].max()              #To apply 'max()','min()','mean()','median()','std()' methods on a column you can do it like this

35

In [17]:
df['temperature'].min()

24

In [18]:
df['temperature'].mean()

30.333333333333332

In [19]:
df['temperature'].median()

31.5

In [20]:
df['temperature'].std()

3.8297084310253524

In [21]:
df.describe()                    #Call'df.describe' to get the statistics of the columns which has Integer values

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

# Conditional Data Selection

In [22]:
df[df.temperature>=32]                     #To print the rows which has 32 or more temperature.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [23]:
df[df.temperature==df['temperature'].max()]  #To print the row which has the maximum temperature.

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [24]:
df[['day','temperature']][df.temperature==df['temperature'].max()]   #To print the only the columns you select with a condition.

        day  temperature
1  1/2/2017           35

In [25]:
df[df.event=='Rain']                         #To print the rows on which the event is rain.

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain

# Indexing

In [26]:
df.index                                 #To get the index numbers of the table

RangeIndex(start=0, stop=6, step=1)

In [31]:
df.set_index('day',inplace=True)                      #To set the index to day.Use 'inplace=True' to replace it with the original Data Frame.

In [34]:
df                                       #To print the Data Frame with 'day' index

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [33]:
df.loc['1/6/2017']                      #To print the particular row of a individual day.

temperature       31
windspeed          2
event          Sunny
Name: 1/6/2017, dtype: object

In [36]:
df.reset_index(inplace=True)            #To reset the index of the Data Frame
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [37]:
df.set_index('event',inplace=True)     #To set the index to "event"
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [38]:
df.loc['Snow']                        #To print out the rows on which the 'event' is 'Snow'

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7